body {

}

h1 {
    color: #056754;
    border: 4px solid #80C4B7;
    text-align: center;
    background-color: #80C4B7;
    font-family: "Times New Roman";

}
}
div {
    text-align: center;
}

br {
    display: block;
    margin: 1px;
}

p {
    color: black;
    text-align: center;
}

hr {
    color: black;
    text-align: center;
    border: 2px solid #80C4B7;
  border-radius: 12px;
}

h4 {
    color: black;
    text-align: center;
}

dd {
    color: black;
    text-align: center;
}

dt {

    color: black;
    text-align: center;
}
li {
    text-align: center;
}

h2 {
    text-align: center;
}

table,
td {
    border: 2px solid #367;


}

thead,
tfoot {
    background-color: #80C4B7;
    color: #056754;
    font-size: 25
}


span:hover{
  text-decoration: underline;
  color:crimson;
}

a:hover{
  text-decoration: underline;
  color:crimson;
}

img{
border-radius: 50%;
  transition: width 2s, border-radius 2s, height 2s;
}

img:hover{
    width: 250px;
    height: 300px;
    border-radius: 5%;
}

